<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>발리의 서재</title>
     <style>

     .right{

        float:left;
        list-style:none;
        }

     .ul{

     list-style:none;

     }


     .image{

        width:110px;
        height:152px;
        background-color: green;
        margin:2.5px;
        padding:1px;
        float:left;

        }
     .line{
     float:bottom
     }




     .title{
        font-size:13px;
        vertical-align : top;
        }
     .author{
        font-size:small;
        vertical-align : top;
        }

    </style>


</head>
<body>

    <section class="book_rank">
        <div class="all_frame">
            <div>
                <div class="title">
                    <h2>실시간 인기도서</h2>
                </div>
            </div>
            <div class="rank_10">
                <ul class="ul">
                    <li class="line">
                        <div class="book_line">
                            <ol class="book_rank">
                                    <div class="image_title_author">
                                        <li class = 'right'>


                                            <img class="image" ></img>
                                            <div class ="right_div">
                                                <div class="rank">순위</div>
                                                <div class="title_author">
                                                    <div class="title">title</div>
                                                    <div class="author">author</div>
                                                </div>

                                            </div>
                                        </li>
                                        <li class = 'right'>


                                            <img class="image" ></img>
                                            <div class ="right_div">
                                                <div class="rank">순위</div>
                                                <div class="title_author">
                                                    <div class="title">title</div>
                                                    <div class="author">author</div>
                                                </div>

                                            </div>
                                        </li>
                                        <li class = 'right'>


                                            <img class="image" ></img>
                                            <div class ="right_div">
                                                <div class="rank">순위</div>
                                                <div class="title_author">
                                                    <div class="title">title</div>
                                                    <div class="author">author</div>
                                                </div>

                                            </div>
                                        </li>
                                        <li class = 'right'>


                                            <img class="image" ></img>
                                            <div class ="right_div">
                                                <div class="rank">순위</div>
                                                <div class="title_author">
                                                    <div class="title">title</div>
                                                    <div class="author">author</div>
                                                </div>

                                            </div>
                                        </li>
                                        <li class = 'right'>


                                            <img class="image" ></img>
                                            <div class ="right_div">
                                                <div class="rank">순위</div>
                                                <div class="title_author">
                                                    <div class="title">title</div>
                                                    <div class="author">author</div>
                                                </div>

                                            </div>
                                        </li>
                                        <li class = 'right'>


                                            <img class="image" ></img>
                                            <div class ="right_div">
                                                <div class="rank">순위</div>
                                                <div class="title_author">
                                                    <div class="title">title</div>
                                                    <div class="author">author</div>
                                                </div>

                                            </div>
                                        </li>
                                        <li class = 'right'>


                                            <img class="image" ></img>
                                            <div class ="right_div">
                                                <div class="rank">순위</div>
                                                <div class="title_author">
                                                    <div class="title">title</div>
                                                    <div class="author">author</div>
                                                </div>

                                            </div>
                                        </li>
                                        <li class = 'right'>


                                            <img class="image" ></img>
                                            <div class ="right_div">
                                                <div class="rank">순위</div>
                                                <div class="title_author">
                                                    <div class="title">title</div>
                                                    <div class="author">author</div>
                                                </div>

                                            </div>
                                        </li>
                                        <li class = 'right'>


                                            <img class="image" ></img>
                                            <div class ="right_div">
                                                <div class="rank">순위</div>
                                                <div class="title_author">
                                                    <div class="title">title</div>
                                                    <div class="author">author</div>
                                                </div>

                                            </div>
                                        </li>
                                        <li class = 'right'>


                                            <img class="image" ></img>
                                            <div class ="right_div">
                                                <div class="rank">순위</div>
                                                <div class="title_author">
                                                    <div class="title">title</div>
                                                    <div class="author">author</div>
                                                </div>

                                            </div>
                                        </li>
                                    </div>
                            </ol>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>




</body>
</html>
