<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select books</title>
</head>
<body> -->
{% extends 'book_rank_app/base_layout.html' %}

{% block content %}
{% load static %}
{% for book in books %}
<div style="background-color:white; color:black">
    <tr>
        <a href="{{book.pk}}/">{{book.title}} <br> </a>
     </tr>
     {% endfor %}
     <input type="button" value="돌아가기" onclick="back()">
</div>
<!--     
</body>
</html> -->

<script>
    const back = () => {
        window.history.back();
    }
</script>

{% endblock %}