<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Billie</title>
</head>
<body> -->
{% extends 'book_rank_app/base_layout.html' %}

{% block content %}
{% load static %}
<div style="background-color:white; color:black">
    This is user withdraw page.
    <form method="POST">
        {% csrf_token %}
        <input name="user_pwd" type="password">
        <input type="submit" class="delete_btn" value="탈퇴하기">
    </form>
</div>
<!--     
</body>
</html> -->

{% if message %}
<script>alert("{{ message }}");</script>
{% endif %}

{% endblock %}