<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body> -->

{% extends 'book_rank_app/base_layout.html' %}

{% block content %}
{% load static %}
<div style="background-color : white; color:black;">
    this is book detail page.<br>
    <input type="button" value="돌아가기" onclick="back()">
    <br>
    <img src="{{ book_detail.img }}">
    <br>
    제목 : {{ book_detail.title }} <br>
    작가 : {{ book_detail.author }} <br>
    가격 : {{ book_detail.price }} <br>
    별점 : {{ book_detail.star }} <br>
    카테고리 : {{ book_detail.category }} <br>

    <form method="POST">
        {% csrf_token %}
<!--        {{ details.book_id }}-->
        <input type="submit" name="already" value="읽은 책" /><br>
        <input type="submit" name="forward" value="읽고 싶은 책" />
    </form>
<!-- </body>
</html> -->
</div>
    

<script>
    const back = () => {
        window.history.back();
    }
</script>

{% if message %}
<script>alert("{{ message }}");
    window.history.back();
</script>
{% endif %}

{% endblock %}